
assets/data/songs/*.mp3
assets/data/cover/*.jpg
assets/old_data/*.mp3
assets/old_data/*.jpg
.expo/*
npm-debug.*
package-lock.json
.DS_Store
node_modules/*
!node_modules/react-native-calendars/
components/firebaseInit.js
*.sketch